    </div>
    <footer class="footer">
      <div class="container">
          <p class="text-muted">Created by Joel Klaus | Copyright {{getCurrentYear}}</p>
      </div>
    </footer>

  </body>
</html>
